
* {
    margin: 0;
    padding: 0;

}

:root {
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif, Arial;
}


header {
    width: 100%;
}

a {
    text-decoration: none;
    color: $third-color;
}
